@use '../abstracts' as a;

.dropdown {
  margin: 20px;
  border: 2px solid var(--dropdown-border);
  padding: 10px;

  &__title {
    cursor: pointer;
    background-color: var(--secondary-bg);
    padding: 10px;
    margin-bottom: 0;
  }

  &__content {
    display: none; /* Initially hide the content */
    font-size: a.rem(14);
    padding: 10px;
    border-top: 1px solid var(--dropdown-border);

    li {
      border-bottom: 1px solid var(--dropdown-border);
      padding: 8px 0;
    }
  }

  &__content.show {
    display: block; /* Show content when 'show' class is added */
  }
}
