@use '../abstracts' as a;

.dropdown {
  margin: 20px;
  background-color: var(--secondary-bg);
  color: var(--text-color-1);

  &__title {
    cursor: pointer;
    outline: 5px solid var(--secondary-color);
    background-color: var(--secondary-bg);
    padding: a.rem(10);
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      background-color: var(--primary-bg);
      color: var(--text-color-2);
    }
  }

  &__content {
    display: none; /* Initially hide the content */
    font-size: a.rem(14);
    padding: 10px;
    border-top: 1px solid var(--dropdown-border);

    li {
      border-bottom: 1px solid var(--dropdown-border);
      padding: 8px;
    }
  }

  &__content.show {
    display: block; /* Show content when 'show' class is added */
  }
}
