@use '../abstracts' as a;

.home__footer {
  background-color: var(--primary-bg);
  color: var(--text-color-2);
  padding-block: a.rem(16);
  font-size: a.rem(10);

  @include a.breakpoint('999.98') {
    padding-block: a.rem(24);
    font-size: a.rem(16);
  }

  &-content {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
