<!doctype html>
<html
  lang="en"
  class="no-js">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-eval' https://browser.sentry-cdn.com https://kit.fontawesome.com https://cdn.jsdelivr.net https://ka-p.fontawesome.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://kit.fontawesome.com https://ka-p.fontawesome.com; font-src 'self' https://fonts.gstatic.com https://kit.fontawesome.com https://ka-p.fontawesome.com; img-src 'self' data: https://github.com https://fonts.gstatic.com https://kit.fontawesome.com https://ka-p.fontawesome.com; connect-src 'self' https://formspree.io/f/mpwyyeaa https://formspree.io https://sentry.io https://fonts.googleapis.com https://fonts.gstatic.com https://ka-p.fontawesome.com https://kit-upload.fontawesome.com https://kit.fontawesome.com https://cdn.jsdelivr.net; frame-src 'self'; object-src 'none'; base-uri 'self'; form-action 'self' https://formspree.io=" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Semantic Navbar Markup | I Knit The Web</title>
    <link
      rel="preload"
      as="style"
      href="{{BASE_URL}}{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_CSS_FILE}}" />
    <link
      rel="stylesheet"
      href="{{BASE_URL}}{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_CSS_FILE}}" />
    <noscript>
      <style>
        body {
          visibility: visible;
        }
      </style>
    </noscript>
    <meta
      name="description"
      content="{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_DESCRIPTION}}" />
    <meta
      name="keywords"
      content="{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_KEYWORDS}}" />
    <meta
      name="author"
      content="I Knit the Web" />
    <meta
      name="robots"
      content="{{ROBOTS}}" />
    <link
      rel="canonical"
      href="{{BASE_URL}}{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_OG_URL}}" />
    <meta
      property="og:title"
      content="{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_OG_TITLE}}" />
    <meta
      property="og:description"
      content="{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_OG_DESCRIPTION}}" />
    <meta
      property="og:image"
      content="{{ASSET_URL}}/branding/logo.png" />
    <meta
      property="og:url"
      content="{{BASE_URL}}{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_OG_URL}}" />
    <meta
      property="og:type"
      content="{{OG_TYPE}}" />
    <meta
      name="twitter:card"
      content="{{TWITTER_CARD}}" />
    <meta
      name="twitter:title"
      content="{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_TWITTER_TITLE}}" />
    <meta
      name="twitter:description"
      content="{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_TWITTER_DESCRIPTION}}" />
    <meta
      name="twitter:image"
      content="{{ASSET_URL}}/branding/logo.png" />

    <style>
      .no-js body {
        visibility: hidden;
      }
      .css-loaded body {
        visibility: visible;
      }
    </style>

    <script src="{{BASE_URL}}/dist/js/fouc-fix.js"></script>

    <link
      rel="icon"
      type="image/x-icon"
      href="{{ASSET_URL}}/favicon_io/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ASSET_URL}}/favicon_io/apple-touch-icon.png" />
    <link
      rel="manifest"
      href="{{BASE_URL}}/manifest.json" />

    <link
      rel="preconnect"
      href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com" />
    <link
      rel="preconnect"
      href="https://ka-p.fontawesome.com" />

    <link
      rel="preload"
      href="{{GOOGLE_FONTS_LINK}}"
      as="style" />
    <link
      href="{{GOOGLE_FONTS_LINK}}"
      rel="stylesheet" />
    <noscript>
      <link
        href="{{GOOGLE_FONTS_LINK}}"
        rel="stylesheet" />
    </noscript>

    <script
      src="https://browser.sentry-cdn.com/7.100.1/bundle.min.js"
      crossorigin="anonymous"></script>

    <script type="application/ld+json">
      {{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_SCHEMA_JSON}}}
    </script>

    <script
      defer
      src="https://kit.fontawesome.com/94262366bd.js"
      crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/body-scroll-lock@4.0.0-beta.0/lib/bodyScrollLock.min.js"></script>
    <script
      type="module"
      src="{{BASE_URL}}/dist/js/script.js"></script>
  </head>

  <body>
    <div
      id="page-data"
      data-page-title="{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_TITLE}}"
      data-page-subtitle="{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_SUBTITLE}}"
      data-nav-config="{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_NAV_CONFIG}}"
      data-breadcrumb-category="{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_BREADCRUMB_CATEGORY}}"
      data-breadcrumb-category-url="{{SEMANTIC-NAVBAR-MARKUP-15-DAYS-OF-CSS_BREADCRUMB_CATEGORY_URL}}"
      style="display: none"></div>
    <a
      href="#main-content"
      class="skip-link"
      >Skip to main content</a
    >
    <header aria-label="Site header">
      <!-- HEADER_PLACEHOLDER -->
    </header>
    <main
      id="main-content"
      role="main"
      aria-label="Main content">
      <h1>Semantic Navbar Markup Challenge</h1>
      <h2
        >A
        <a href="https://jen4web.gumroad.com/l/30daysofhtml">15 Days of CSS</a>
        Project</h2
      >

      <article class="semantic-navbar">
        <h2 class="semantic-navbar__title">
          <a
            class="semantic-navbar__title-link"
            href="https://informatics.indiana.edu/index.html"
            >IU Luddy School of Informatics, Computing, and Engineering
            Department of Informatics</a
          >
        </h2>
        <nav class="semantic-navbar__nav">
          <ul class="semantic-navbar__list">
            <li class="semantic-navbar__item">
              <a
                class="semantic-navbar__link"
                href="https://informatics.indiana.edu/about/index.html">
                About
              </a>
            </li>
            <li class="semantic-navbar__item">
              <a
                class="semantic-navbar__link"
                href="https://informatics.indiana.edu/apply/index.html">
                How to Apply
              </a>
            </li>
            <li class="semantic-navbar__item">
              <a
                class="semantic-navbar__link"
                href="https://informatics.indiana.edu/programs/index.html">
                Programs
              </a>
            </li>
            <li class="semantic-navbar__item">
              <a
                class="semantic-navbar__link"
                href="https://informatics.indiana.edu/courses/index.html">
                Courses
              </a>
            </li>
            <li class="semantic-navbar__item">
              <a
                class="semantic-navbar__link"
                href="https://informatics.indiana.edu/career-prep/index.html">
                Career Prep
              </a>
            </li>
            <li class="semantic-navbar__item">
              <a
                class="semantic-navbar__link"
                href="https://informatics.indiana.edu/research/index.html">
                Research
              </a>
            </li>
            <li class="semantic-navbar__item">
              <a
                class="semantic-navbar__link"
                href="https://informatics.indiana.edu/faculty-directory/index.html">
                Faculty Directory
              </a>
            </li>
            <li class="semantic-navbar__item">
              <a
                class="semantic-navbar__link"
                href="https://informatics.indiana.edu/contact/index.html">
                Contact
              </a>
            </li>
          </ul>
        </nav>
      </article>
    </main>
    <footer
      class="footer"
      role="contentinfo"
      aria-label="Site footer">
      <!-- FOOTER_PLACEHOLDER -->
    </footer>
  </body>
</html>
