@use '../A-abstracts/functions' as f;
@use '../A-abstracts/mixins' as m;

.wrapper {
  width: 100%;
  // max-width: f.rem(1200);
  margin-inline: auto;
  padding-block: f.rem(60);
  transition: max-width 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  // Add horizontal padding for small screens
  @include m.breakpoint-down('499.98') {
    padding-inline: f.rem(8);
  }
}

.home__wrapper {
  padding-block: f.rem(60);
}

.breadcrumbs {
  .wrapper {
    padding-block: 0; // Override any wrapper padding for breadcrumbs
  }
}
