//* ------------------------------------------------------------
//* LAYOUT: NAVIGATION PARTIAL
//*
//* Place all styles related to the main navigation layout and structure here.
@use '../A-abstracts/mixins' as mixins;
@use '../A-abstracts/functions' as f;


//* Only navigation layout styles belong in this file.
//* Do NOT put component, utility, or page-specific styles here.
//* ------------------------------------------------------------
