:root {
  // Color Palette

  // Primary color and variations formerly #440f48
  --primary-color: #531045;
  --primary-bg: #531045;
  --primary-border: #531045;
  --primary-color-mid: #9c22a5;
  --primary-color-light: #d049d9;

  // Secondary color and variations
  --secondary-color: #13480f;
  --secondary-color-mid: #2ba522;
  --secondary-color-light: #52d949;

  // Backgrounds
  --bg-light: #e1dede;

  // Text colors
  --text-color-1: #333;
  --text-color-2: #e1dede;
  --text-color-accent: #531045;
  --text-color-muted: #dadada;

  // Topnav
  --menu-overlay: hsl(0deg 0% 42% / 50%); // covers the body when the mobile menu is open
  --topnav-border: #e1dede; // to keep a delineation between the header and body content as it scrolls
  --link-underline-gradient1: #d049d9;
  --link-underline-gradient2: #52d949;

  // About
  --dropdown-border: #531045;
  --link-underline1: #d049d9;
  --link-underline2: #52d949;

  // Contact
  --contact-button-border: #e1dede;
  --contact-input-focus-shadow: #5310451a;
  --error-color: #de1616;

  // Hero
  --hero-text: #fff;
}
