:root {
  // Color Palette
  --primary-bg: #440f48;
  --primary-color: #440f48;
  --primary-color-mid: #9c22a5;
  --primary-color-light: #d049d9;
  --secondary-bg: #e1dede;
  --secondary-color: #13480f;
  --secondary-color-mid: #2ba522;
  --secondary-color-light: #52d949;
  --dropdown-border: #440f48;
  --text-color-1: #333;
  --text-color-2: #e1dede;
  --link-gradient1: #d049d9;
  --link-gradient2: #52d949;
  --background-color: #1f1f1f;

  // Font Families
  --font-1: 'Georgia', serif;
  --font-2: 'Verdana', sans-serif;
}
