//* ------------------------------------------------------------
//& VERTICAL NAVBARS PAGE PARTIAL
//* Entry-point SCSS for 15 Days of CSS - Day 4 Vertical Navbars
//*
//* Place all styles specific to the vertical navbars challenge page layout and appearance here.
//* Use page-level selectors (e.g., .vertical-navbar, .navbar, etc.).
//* Do NOT put global resets or reusable component styles here.
//* Only styles unique to the vertical navbars challenge page belong in this file.
//* ------------------------------------------------------------

@use '../A-abstracts' as a;
@use '../B-base' as b;
@use '../C-components' as c;
@use '../D-layout' as l;
@use '../F-themes' as t;
@use '../G-vendors' as v;

html {
  background: url(https://images.unsplash.com/photo-1560801619-01d71da0f70c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80)
    no-repeat center center fixed;
  background-size: cover;
}
body {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin: 0 0 5em;
  padding: 0;
  padding: 1em 2em 0;
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.5em;
}
ol li,
ul li {
  padding-bottom: 0.5em;
}
p {
  line-height: 1.3em;
  margin-top: 0;
}
.highlight {
  background: rgba(255, 255, 255, 0.8);
  padding: 1em 2em 0;
}
.button {
  background-color: #eb3b5a;
  padding: 0.5rem 1rem;
  border: 1px solid #eb3b5a;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin: 1em 0 5rem;
}
.button:hover {
  color: #eb3b5a;
  background-color: white;
}

/* 
==================
Add your CSS here
==================
*/

.vertical-navbar {
  background-color: rgba(255, 255, 255, 0.669);
  padding: 1rem;
}

.vertical-navbar__brand {
  text-align: center;
  font-size: 3.5rem;
  margin: 0 auto 1em;
  background-color: rgba(255, 255, 255, 0.669);
  background: linear-gradient(to bottom, #fff, #eb3b5a, #eb3b5a, #eb3b5a);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000000;
  width: 500px;
}

.vertical-navbar__nav {
  width: 200px;
  margin: 0 auto;
  background-color: #333;
  padding: 1em;
  border-radius: 10px;
}
.vertical-navbar__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.vertical-navbar__item {
  margin: 0.5em 0;
}
.vertical-navbar__link {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  display: block;
  border-bottom: 4px solid white;
  border-radius: 15px;
  transition:
    background 0.2s,
    border-bottom 0.2s;
}
.vertical-navbar__link:hover {
  background-color: #666;
  border-bottom: 4px solid #eb3b5a;
}
