// Entry-point SCSS for Calculator
@use 'A-abstracts' as a;
@use 'B-base' as *;
@use 'C-components' as *;
@use 'D-layout' as *;
@use 'F-themes' as *;
@use 'G-vendors' as *;

/* =====================================
	 Calculator Page Layout
	 ===================================== */
.calculator__main {
  margin: a.rem(32) auto;
  padding: 0 a.rem(16);

  @include a.breakpoint-down('599.98') {
    margin: a.rem(16) auto;
    padding: 0 a.rem(8);
  }
}

.calculator__container {
  background-color: var(--calc-display-bg);
  color: var(--calc-text-light);
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  width: 400px;

  @include a.breakpoint-down('599.98') {
    width: 98%;
    min-width: 0;
    padding: 5px;
  }
}
