// Entry-point SCSS for Calculator
@use '../A-abstracts/functions' as f;
@use '../A-abstracts/mixins' as m;
/* =====================================
	 Calculator Page Layout
	 ===================================== */
.calculator__main {
  margin: f.rem(32) auto;
  padding: 0 f.rem(16);

  @include m.breakpoint-down('599.98') {
    margin: f.rem(16) auto;
    padding: 0 f.rem(8);
  }
}

.calculator__container {
  background-color: var(--calc-display-bg);
  color: var(--calc-text-light);
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  width: 400px;

  @include m.breakpoint-down('599.98') {
    width: 98%;
    min-width: 0;
    padding: 5px;
  }
}
