/* Page styles */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  background: url(https://images.unsplash.com/photo-1560801619-01d71da0f70c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80)
    no-repeat center center fixed;
  background-size: cover;
}
body {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin: 0 0 5em;
  padding: 0;
  padding: 1em 2em 0;
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.5em;
}
ol li,
ul li {
  padding-bottom: 0.5em;
}
p {
  line-height: 1.3em;
  margin-top: 0;
}
.highlight {
  background: rgba(255, 255, 255, 0.8);
  padding: 1em 2em 0;
}

/* =========================
   Button Styles
   ========================= */
.button {
  background-color: #eb3b5a;
  padding: 0.5rem 1rem;
  border: 1px solid #eb3b5a;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin: 1em 0 5rem;
  outline: none;
  transition:
    background 0.2s,
    color 0.2s,
    outline 0.2s;
}
.button:hover,
.button:focus {
  color: #eb3b5a;
  background-color: #fff;
  outline: 2px solid #eb3b5a;
  outline-offset: 2px;
}

/* 
==================
Add your CSS here
==================
*/
.challenge-container {
  background-color: rgba(255, 255, 255, 0.669);
  padding: 1rem;
}

.brand {
  text-align: center;
  font-size: 5rem;
  margin: 0 auto 1em;
  background-color: rgba(255, 255, 255, 0.669);
  background: linear-gradient(to bottom, #fff, #eb3b5a, #eb3b5a, #eb3b5a);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000000;
  width: 500px;
}

.challenge-container nav {
  width: 200px;
  margin: 0 auto;
  background-color: #333;
  padding: 1em;
  border-radius: 10px;
}
.challenge-container nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.challenge-container nav ul li {
  margin: 0.5em 0;
}

/* =========================
   Navbar Link Styles
   ========================= */
.challenge-container nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em;
  display: block;
  border-bottom: 4px solid #fff;
  border-radius: 15px;
  outline: none;
  transition:
    background 0.2s,
    color 0.2s,
    outline 0.2s;
}
.challenge-container nav ul li a:hover,
.challenge-container nav ul li a:focus {
  background-color: #666;
  border-bottom: 4px solid #eb3b5a;
  color: #eb3b5a;
  outline: 2px solid #eb3b5a;
  outline-offset: 2px;
}

/* =========================
   Responsive Design
   ========================= */
@media (max-width: 600px) {
  body {
    font-size: 1rem;
    padding: 0.5em 0.5em 0;
  }
  .brand {
    font-size: 2.5rem;
    width: 98%;
  }
  .challenge-container nav {
    width: 98%;
    padding: 0.5em;
  }
}
