@use '../abstracts' as a;

/* =====================================
   Calculator Page Layout
   ===================================== */
.calc-page__main {
  margin: 2rem auto;
  padding: 0 1rem;

  @include a.breakpoint-down(xsmall) {
    margin: 1rem auto;
    padding: 0 0.5rem;
  }
}

.calc-page__container {
  background-color: var(--calc-display-bg);
  color: var(--calc-text-light);
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  width: 400px;

  @include a.breakpoint-down(xsmall) {
    width: 98%;
    min-width: 0;
    padding: 5px;
  }
}
